.review-form-section{
    padding: 4rem 0;
}
.review-form {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.review-form label {
    display: block;
    margin-top: 1rem;
    margin-bottom: .2rem;
    font-weight: 600;
}
.review-form select {
    color: #004ae2;
    border: 1px solid #004ae2;
}
.review-form textarea {
    color: #004ae2;
    border: 1px solid #004ae2;
    padding: 2rem 3rem;
}
.review-form textarea:focus {
    outline: none !important;
    border:2px solid #004ae2;
    box-shadow: 0 0 5px #719ECE;
  }
input.review-btn {
    background: #004ae2;
    border: none;
    padding: .5rem .8rem;
    color: #fff;
}